<div [hidden]="!authenticated" style="text-align: center">

  <h1>
    Welcome to {{title}}
  </h1>
</div>

<div [hidden]="authenticated">
  <p>please login</p>
  <form role="form" (submit)="login()">
    <div class="form-group">
      <label for="username">UserName:</label> <input type="text" class="form-control" id="username" [(ngModel)]="credentials.username"/>
      <label for="password">UserName:</label> <input type="text" class="form-control" id="password" [(ngModel)]="credentials.password"/>
    </div>
<button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
